.category-array-label {
    font-weight: bold;
    margin-block-start: 1rem;
    margin-block-end: 0.3rem;
}

.more-options-expansion-panel.MuiExpansionPanel-root,
.more-options-expansion-panel.MuiExpansionPanel-root.Mui-expanded {
    margin: 1rem 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}
.more-options-expansion-panel.MuiExpansionPanel-root .MuiExpansionPanelSummary-content {
    margin: 0.5rem 0;
}
.more-options-expansion-panel.MuiExpansionPanel-root .MuiExpansionPanelSummary-root {
    min-height: auto;
}
.more-options-expansion-panel.MuiExpansionPanel-root .MuiExpansionPanelDetails-root {
    flex-direction: column;
}
.more-options-expansion-panel.MuiExpansionPanel-root .MuiFormGroup-root label span {
    font-size: 0.9rem;
}
.more-options-expansion-panel.MuiExpansionPanel-root .MuiFormGroup-root.game-options-list label {
    margin-bottom: 0.5rem;
}
.more-options-expansion-panel.MuiExpansionPanel-root .MuiFormGroup-root.game-options-list label:last-of-type {
    margin-bottom: 1rem;
}
.more-options-expansion-panel.MuiExpansionPanel-root .MuiFormGroup-root.letters-to-exclude label span.MuiTypography-root {
    min-width: 1rem;
}
