.custom_fieldset {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 0.75rem 0.75rem 0.5rem;
}
.custom_fieldset:not(:last-of-type) {
    margin-bottom: 1rem;
}

.custom_legend {
    position: absolute;
    top: 0;
    left: 0.5rem;
    transform: translateY(-50%);
    padding: 0 0.3rem;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
}

.radio_group {
    flex-direction: row !important;
}

.countdown_wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.countdown_input {
    margin: 0.5rem 0 !important;
    width: 3rem;
    font-size: 0.9rem !important;
}
.countdown_input:after {
    content: none;
}

.button_anchor {
    position: relative;
    margin-bottom: 1rem;
}

.alert_snackbar {
    background-color: #BF360C
}
