.random_categories_button {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 10;
}

.dialog_title {
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 480px) {
    .dialog_min_width {
        min-width: 20rem;
        max-width: 25rem;
    }
}
