.adminPanel {
    position: fixed;
    top: 7rem;
    right: 1.5rem;
}

.menuButton {
    background: rgba(250, 250, 250, 0.9);
    height: 3rem;
    width: 3rem;
}
.menuButton:focus,
.menuButton:hover {
    background: white;
}
.menuIcon {
    height: 2rem;
    width: 2rem;
}

.dialogContent {
    max-width: 23rem;
}
.dialogContentText {
    color: black;
}

@media only screen and (max-width: 45rem) {
    .adminPanel {
        position: absolute;
        top: unset;
        bottom: 1rem;
        left: 1.5rem;
    }
}
