.app-header {
    z-index: 20;
    position: relative;
    padding: 3vmin 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .401961);
}
.app-header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.app-header p {
    margin: 0;
}

.app-header .about-section {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 0.8rem;
    opacity: 0.7;
}
.app-header .about-section a {
    color: inherit;
}

.app-header .icon-buttons {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    color: black;
    opacity: 0.7;
}
.app-header.green-theme .to-dashboard-icon-button,
.app-header.pink-theme .to-dashboard-icon-button,
.app-header.black-theme .to-dashboard-icon-button {
    color: white;
}

.app-header.green-theme {
    background-color: darkgreen;
    color: white;
}
.app-header.blue-theme {
    background-color: lightseagreen;
    color: black;
}
.app-header.orange-theme {
    background-color: orange;
    color: black;
}
.app-header.pink-theme {
    background-color: purple;
    color: white;
}
.app-header.black-theme {
    background-color: #1a1a1a;
    color: white;
}
