.slf-game-manual {
    line-height: 1.5;
    padding: 1rem 2rem;
}
.slf-game-manual p,
.slf-game-manual ol,
.slf-game-manual ul {
    font-size: 0.9rem;
}
.slf-game-manual li {
    margin-bottom: 0.5rem;
}
.slf-game-manual p span {
    font-style: italic;
}
.slf-game-manual p:not(:first-of-type) {
    margin-block-start: 0;
}
.slf-game-manual p:last-of-type {
    margin-block-end: 0.5rem;
}
.slf-game-manual h3 {
    font-size: 1rem;
    margin-block-end: 0.5rem;
}
.inline-material-icon {
    vertical-align: text-top;
}