.dashboard-container .link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
}

.dashboard-container .link-container a {
    flex: 1 1 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 1rem;
    padding: 1rem 0.8rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 5px;
    text-align: center;
}

.dashboard-slf-image {
    margin-left: -1rem;
    width: calc(100% + 2rem);
    object-fit: contain;
}

.img-copyright {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 0.6rem;
    text-align: center;
}
.img-copyright a {
    color: gray;
}
.img-copyright a:hover {
    color: black;
}
.img-copyright a:active {
    color: gray;
}
