.link_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
}
.link_container a {
    flex: 1 1 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 1rem;
    padding: 1rem 0.8rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 5px;
    text-align: center;
    opacity: 0.9;
}

.rejoin_game_link {
    min-width: calc(100% - 3.1rem);
    border: 5px solid rgba(255,255,255,0.5);
    font-weight: bold;
}
.rejoin_game_link svg {
    margin-right: 0.5rem;
}

.slf_image {
    margin-left: -1rem;
    width: calc(100% + 2rem);
    object-fit: contain;
}

.img_copyright {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 0.6rem;
    text-align: center;
}
.img_copyright a {
    color: gray;
}
.img_copyright a:hover {
    color: black;
}
.img_copyright a:active {
    color: gray;
}
