.add_category_button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.less_padding {
    padding: 0.375rem 0.5rem;
}

@media only screen and (min-width: 480px) {
    .dialog_min_width {
        min-width: 20rem;
    }
}
