.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-main {
    /* below header with z-index 20 */
    z-index: 10;
    position: relative;
    flex: 1 1 0rem;
}
.app-main.green-theme {
    background-size: 15% !important;
}
.app-main.green-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: darkgreen;
    color: white;
}
.app-main.blue-theme {
    background-size: 35% !important;
}
.app-main.blue-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: lightseagreen;
    color: black;
}
.app-main.orange-theme {
    background-size: 20% !important;
}
.app-main.orange-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: orange;
    color: black;
}
.app-main.pink-theme {
    background-size: 50% !important;
}
.app-main.pink-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: purple;
    color: white;
}
.app-main.black-theme {
    background-size: 30% !important;
}
.app-main.black-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: black;
    color: white;
}
.app-main.black-theme .MuiLink-root.MuiLink-underlineHover.Mui-focusVisible {
    box-shadow: 0 0 8px 5px orange;
}

.main-content-wrapper {
    max-width: 36rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.material-card-style {
    margin: 1.5rem 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .401961);
}
.material-card-style:not(:last-child) {
    margin-bottom: 1rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
.button-wrapper.add-margin-top {
    margin-top: 1rem;
}

.bold-text {
    font-weight: bold;
}

li:not(.MuiListItem-root) {
    margin-bottom: 0.5rem;
}

/**************************************/
/******* Material UI overrides *******/
/************************************/
.app-form {
    margin-top: 1.5rem;
}
.app-form-input.MuiFormControl-root {
    margin-bottom: 1rem;
}

.MuiLink-root.MuiLink-underlineHover.Mui-focusVisible {
    box-shadow: 0 0 8px 5px black;
    outline: none;
}

.fixed-bottom-right-button.MuiIconButton-root {
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    background-color: rgba(250, 250, 250, 0.9);
}
.fixed-bottom-right-button.MuiIconButton-root:hover {
    background-color: white;
}
.fixed-bottom-right-button .MuiSvgIcon-root {
    height: 2em;
    width: 2em;
}

.MuiSvgIcon-root.MuiChip-avatar.chip-icon-no-bg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.MuiFormLabel-root.MuiInputLabel-root,
.MuiDialogContentText-root.MuiTypography-colorTextSecondary {
    color: black;
}

.MuiChip-root.slf-chip-array-item {
    height: auto;
    min-height: 2rem;
    margin: 0.25rem;
}
.MuiChip-root.slf-chip-array-item .MuiChip-label {
    white-space: normal;
    padding: 0.25rem 0.75rem;
    text-align: center;
}

.new-game-expansion-panel.MuiAccordion-root::before {
    content: none;
}
.new-game-expansion-panel.MuiAccordion-root,
.new-game-expansion-panel.MuiAccordion-root.Mui-expanded {
    margin: 1rem 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}
.new-game-expansion-panel.MuiAccordion-root .MuiAccordionSummary-content {
    margin: 0.5rem 0;
}
.new-game-expansion-panel.MuiAccordion-root .MuiAccordionSummary-root {
    min-height: auto;
}
.new-game-expansion-panel.MuiAccordion-root .MuiAccordionDetails-root {
    flex-direction: column;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root label span {
    font-size: 0.9rem;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root.game-options-list label {
    margin-bottom: 0.5rem;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root.game-options-list label:last-of-type {
    margin-bottom: 1rem;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root.letters-to-exclude label span.MuiTypography-root {
    min-width: 1rem;
}
/**************************************/

@media only screen and (max-width: 800px) {
    .app-main.green-theme {
        background-size: 45% !important;
    }
    .app-main.blue-theme {
        background-size: 100% !important;
    }
    .app-main.orange-theme {
        background-size: 60% !important;
    }
    .app-main.pink-theme {
        background-size: 100% !important;
    }
    .app-main.black-theme {
        background-size: 90% !important;
    }
    .main-content-wrapper {
        padding-bottom: 6rem;
    }
}
@media only screen and (min-width: 480px) {
    .app-main {
        overflow-y: auto;
    }
}