.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-main {
    /* below header with z-index 20 */
    z-index: 10;
    position: relative;
    flex: 1 1 0rem;
}
.app-main .dashboard-container .link-container a {
    opacity: 0.9;
}
.app-main.green-theme {
    background-size: 15% !important;
}
.app-main.green-theme .dashboard-container .link-container a {
    background-color: darkgreen;
    color: white;
}
.app-main.blue-theme {
    background-size: 35% !important;
}
.app-main.blue-theme .dashboard-container .link-container a {
    background-color: lightseagreen;
    color: black;
}
.app-main.orange-theme {
    background-size: 20% !important;
}
.app-main.orange-theme .dashboard-container .link-container a {
    background-color: orange;
    color: black;
}
.app-main.pink-theme {
    background-size: 50% !important;
}
.app-main.pink-theme .dashboard-container .link-container a {
    background-color: purple;
    color: white;
}
.app-main.black-theme {
    background-size: 30% !important;
}
.app-main.black-theme .dashboard-container .link-container a {
    background-color: black;
    color: white;
}

.main-content-wrapper {
    max-width: 36rem;
    margin: 0 auto;
    padding-bottom: 6rem;
}

.material-card-style {
    margin: 1.5rem 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .401961);
}
.material-card-style:not(:last-child) {
    margin-bottom: 1rem;
}

.app-form {
    margin-top: 1.5rem;
}
.app-form-input.MuiFormControl-root {
    margin-bottom: 1rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
.button-wrapper.add-margin-top {
    margin-top: 1rem;
}

.fixed-bottom-right-button.MuiIconButton-root {
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    background-color: rgba(250, 250, 250, 0.9);
}
.fixed-bottom-right-button.MuiIconButton-root:hover {
    background-color: white;
}
.fixed-bottom-right-button .MuiSvgIcon-root {
    height: 2em;
    width: 2em;
}

.bold-text {
    font-weight: bold;
}

.MuiSvgIcon-root.MuiChip-avatar.chip-icon-no-bg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.MuiFormLabel-root.MuiInputLabel-root {
    color: black;
}

li {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .app-main.green-theme {
        background-size: 45% !important;
    }
    .app-main.blue-theme {
        background-size: 100% !important;
    }
    .app-main.orange-theme {
        background-size: 60% !important;
    }
    .app-main.pink-theme {
        background-size: 100% !important;
    }
    .app-main.black-theme {
        background-size: 90% !important;
    }
}
@media only screen and (min-width: 480px) {
    .app-main {
        overflow-y: auto;
    }
}