.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-main {
    /* below header with z-index 20 */
    z-index: 10;
    position: relative;
    flex: 1 1 0rem;
}
.app-main.green-theme {
    background-size: 15% !important;
}
.app-main.blue-theme {
    background-size: 35% !important;
}
.app-main.orange-theme {
    background-size: 20% !important;
}
.app-main.pink-theme {
    background-size: 50% !important;
}
.app-main.pink-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: purple;
    color: white;
}
.app-main.black-theme {
    background-size: 30% !important;
}

.main-content-wrapper {
    max-width: 36rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.material-card-style {
    margin: 1.5rem 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .401961);
}
.material-card-style:not(:last-child) {
    margin-bottom: 1rem;
}

.section-header {
    display: block;
    margin-block-end: 0.8rem;
    margin-block-start: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
.button-wrapper.add-margin-top {
    margin-top: 1rem;
}

.bold-text {
    font-weight: bold;
}

li:not(.MuiListItem-root) {
    margin-bottom: 0.5rem;
}

.game-settings {
    margin-bottom: 1rem;
}
.game-settings h3, .game-settings h4 {
    margin-block-start: 1.25rem;
    margin-block-end: 0.25rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
}
.game-settings p {
    margin-block-start: 0.25rem;
}

/*********************************************************************/
/******* Game Manual, About the Game, Accessibility Statement *******/
/*******************************************************************/

.slf-article-container {
    line-height: 1.5;
    padding: 1rem 2rem;
}
.slf-article-container p,
.slf-article-container ol,
.slf-article-container ul {
    font-size: 0.9rem;
}
.slf-article-container p span {
    font-style: italic;
}
.slf-article-container p:not(:first-of-type) {
    margin-block-start: 0;
}
.slf-article-container p:last-of-type {
    margin-block-end: 0.5rem;
}
.slf-article-container h3 {
    font-size: 1rem;
    margin-block-end: 0.5rem;
}
.slf-article-container a {
    color: black;
}
.slf-article-container a:focus,
.slf-article-container a:hover {
    outline: 2px solid black;
    outline-offset: 1px;
}
/**************************************/

/**************************************/
/******* Material UI overrides *******/
/************************************/
.app-form {
    margin-top: 1.5rem;
}
.app-form-input.MuiFormControl-root {
    margin-bottom: 1rem;
}

.app-main.green-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: darkgreen;
    color: white;
}
.app-main.blue-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: lightseagreen;
    color: black;
}
.app-main.orange-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: orange;
    color: black;
}
.app-main.black-theme .MuiLink-root.MuiLink-underlineHover {
    background-color: black;
    color: white;
}

.MuiLink-root.MuiLink-underlineHover.Mui-focusVisible,
.MuiChip-root.Mui-focusVisible {
    box-shadow: 0 0 6px 4px black;
    outline: none;
}
.app-main.black-theme .MuiLink-root.MuiLink-underlineHover.Mui-focusVisible,
.app-main.black-theme .MuiChip-root.MuiChip-colorPrimary.Mui-focusVisible {
    box-shadow: 0 0 6px 4px orange;
}

.fixed-bottom-right-button.MuiIconButton-root {
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    background-color: rgba(250, 250, 250, 0.9);
}
.fixed-bottom-right-button.MuiIconButton-root:hover {
    background-color: white;
}
.fixed-bottom-right-button .MuiSvgIcon-root {
    height: 3rem;
    width: 3rem;
}

.MuiFormLabel-root.MuiInputLabel-root,
.MuiDialogContentText-root.MuiTypography-colorTextSecondary {
    color: black;
}

/* Conforms to Level AA colour contrast */
.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #E51F00;
}
.MuiFormHelperText-root.Mui-error {
    color: #E51F00;
}

.new-game-expansion-panel.MuiAccordion-root::before {
    content: none;
}
.new-game-expansion-panel.MuiAccordion-root,
.new-game-expansion-panel.MuiAccordion-root.Mui-expanded {
    margin: 0 0 1rem;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}
.new-game-expansion-panel.MuiAccordion-root .MuiAccordionSummary-content {
    margin: 0.5rem 0;
}
.new-game-expansion-panel.MuiAccordion-root .MuiAccordionSummary-root {
    min-height: auto;
}
.new-game-expansion-panel.MuiAccordion-root .MuiAccordionDetails-root {
    flex-direction: column;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root label span {
    font-size: 0.9rem;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root.game-options-list label {
    margin-bottom: 0.5rem;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root.game-options-list label:last-of-type {
    margin-bottom: 1rem;
}
.new-game-expansion-panel.MuiAccordion-root .MuiFormGroup-root.letters-to-exclude label span.MuiTypography-root {
    min-width: 1rem;
}
/**************************************/

@media only screen and (max-width: 50rem) {
    .app-main.green-theme {
        background-size: 45% !important;
    }
    .app-main.blue-theme {
        background-size: 100% !important;
    }
    .app-main.orange-theme {
        background-size: 60% !important;
    }
    .app-main.pink-theme {
        background-size: 100% !important;
    }
    .app-main.black-theme {
        background-size: 90% !important;
    }
    .main-content-wrapper {
        padding-bottom: 6rem;
    }
}
@media only screen and (max-width: 45rem) {
    .fixed-bottom-right-button.MuiIconButton-root {
        position: absolute;
    }
}
@media only screen and (min-width: 45rem) {
    .app-main {
        overflow-y: auto;
    }
}
