.textfield_wrapper,
.textfield_wrapper_creative {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 0.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.00938em;
}
.textfield_wrapper:not(:last-child),
.textfield_wrapper_creative:not(:last-child) {
    margin-bottom: 1rem;
}
.textfield_wrapper_creative {
    background-color: rgba(0, 0, 0, 0.1);
}
.player_name {
    margin-block-end: 0.3rem;
    margin-block-start: 0.5rem;
    font-size: 0.9em;
    font-style: normal;
    font-weight: bold;
    color: #555555;
}
.answer,
.invalid_answer {
    margin-block-end: 0.5rem;
    margin-block-start: 0.75rem;
    padding-right: 3rem;
}
.invalid_answer {
    color: crimson;
    text-decoration: line-through;
}
.button_wrapper {
    position: absolute;
    top: 0.25rem;
    right: 0.75rem;
    display: flex;
    align-items: center;
}
.points_wrapper {
    position: absolute;
    bottom: -1px;
    right: -1px;
}
.points {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    padding: 0;
    margin: 3px 0;
    outline: none;
}
.search_link:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.auto_reject_icon {
    padding: 5px 3px;
}
