.slf-evaluation-textfield-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 0.5rem;
}
.very-creative-player-input.MuiInputBase-root {
    background-color: rgba(0, 0, 0, 0.1);
}
.invalid-player-input.MuiInputBase-root {
    color: crimson;
    text-decoration: line-through;
}
.slf-evaluation-textfield-end-adornment {
    display: flex;
    align-items: center;
}
a.slf-evaluation-search-link {
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
}
.slf-mark-as-creative-button.MuiIconButton-root {
    margin-right: 0.4rem;
}
.slf-evaluation-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.3rem;
}
.slf-evaluation-button.MuiIconButton-root,
.slf-auto-reject-icon {
    padding: 0.75rem;
}
