.slf-evaluation-textfield-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 0.5rem;
}
.invalid-player-input.MuiInputBase-root {
    color: crimson;
    text-decoration: line-through;
}
.slf-search-link-container {
    position: absolute;
    top: 50%;
    right: 3.8rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.slf-evaluation-search-link {
    display: flex;
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}
.slf-evaluation-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.3rem;
}
.slf-evaluation-button.MuiIconButton-root,
.slf-auto-reject-icon {
    padding: 0.75rem;
}
